@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Space+Grotesk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    background: linear-gradient(
        0deg,
        rgba(0, 221, 168, 0.2),
        rgba(0, 221, 168, 0.2)
      ),
      url("./assets/575.jpg");
    background-attachment: fixed;
    background-repeat: "no-repeat";
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
  }
}

.main__button {
  background: rgba(255, 255, 255, 0.4);
}
